let chat =
document.getElementById("chat-window");

/* User Message */

chat.innerHTML += `

<div class="message user">

<div class="bubble">

${input.value}

</div>

</div>

`;

let text = input.value;

input.value = "";

/* Typing */

document
.getElementById("typing")
.style.display = "block";

try{

let response =
await fetch("/chat",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({
message:text
})

});

let data =
await response.json();

/* Hide Typing */

document
.getElementById("typing")
.style.display = "none";

/* AI Message */

chat.innerHTML += `

<div class="message ai">

<div class="bubble">

<img
src="/logo.png"
class="ai-logo"
>

<div>

${data.reply}

</div>

</div>

</div>

`;

}catch(e){

document
.getElementById("typing")
.style.display = "none";

chat.innerHTML += `

<div class="message ai">

<div class="bubble">

<img
src="/logo.png"
class="ai-logo"
>

<div>

Connection Error

</div>

</div>

</div>

`;

}

/* Auto Scroll */

chat.scrollTop =
chat.scrollHeight;

}

/* Enter Key */

document
.getElementById("userInput")
.addEventListener(
"keypress",
function(e){

if(e.key === "Enter"){

send();

}

}
);

</script>

</body>
</html>
